<!DOCTYPE html>
<html lang="<%=I18n.locale%>">
  <head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= Settings.app_name rescue "Thecore" %></title>

    <%= tag("link", rel: "manifest", href: asset_path("manifest.json", skip_pipeline: true)) %>
    <meta name="turbo-cache-control" content="no-cache">

    <!-- Getting all the assets needed by thecore from all the gems //-->
    <%= get_asset_tags_for("thecore")%>

    <!-- Getting all the CSS and JS assets from application JS //-->
    <%= stylesheet_link_tag('application', media: 'all', 'data-turbo-track' => true) if (Rails.application.assets || ::Sprockets::Railtie.build_environment(Rails.application)).find_asset("application.css")%>
    <%= javascript_include_tag('application', 'data-turbo-track' => true) if (Rails.application.assets || ::Sprockets::Railtie.build_environment(Rails.application)).find_asset("application.js") %>
    
    <meta name="theme-color" content="#3b4e59">

    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <div class="logos">
          <%=render partial: 'layouts/logos'%>
        </div>
        <%= yield %>
      </div>
    </div>


    <%- unless flash.blank? %>
      <%= render partial: 'shared/flash' %>
    <%-end%>

    <%= render 'layouts/footer' %>
  </body>
</html>
